@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ==== COLOR ==== */
  --color-dark: #222429;
  --color-white: #f5f6f6;
  --color-gray: #979797;
  --color-light-gray: rgb(218, 213, 213);
  --color-yellow: #fedf1e;
  --color-red: #ff4e00;
  --color-blue: #3481ef;

  /* ==== TRANSITION ==== */
  --transition: 0.3s ease;

  /* ===== CONTAINER ==== */
  --container-lg: 75%;
  --container-md: 85%;
  --container-sm: 90%;

  /* ==== BORDER ==== */
  --bor-5: 5px;
  --bor-round: 50%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-light-gray);
  color: var(--color-dark);
  line-height: 1.7;
}

.container {
  width: var(--container-lg);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-dark);
  transition: var(--transition);
}
a:hover {
  color: var(--color-white);
}

.btn {
  cursor: pointer;

  width: max-content;
  padding: 10px 20px;

  border: none;

  transition: var(--transition);

  background: transparent;
}

/* ====== NAVBAR ====== */
.container.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
/* nav left logo*/
.nav-left .nav-left-logo {
  font-size: 18px;
  font-weight: 700;

  background: var(--color-yellow);

  border-radius: var(--bor-5);

  width: 40px;
  height: 40px;

  display: flex;
  align-items: flex-end;
  justify-content: end;
}
/* nav left lists*/
.nav-left .navigation {
  display: block;
}

.nav-left .navigation .nav-left-lists a {
  padding: 5px 10px;
}

/* nav right button*/
.nav-right button {
  border: 2px solid var(--color-gray);
  border-radius: var(--bor-5);

  font-weight: 600;
  font-size: 16px;

  display: block;
  margin-right: 10px;
}
.nav-right button:hover {
  color: white;
}
/* nav right social icons*/
.nav-right .nav-right-socials {
  display: flex;
  align-items: center;
}

.nav-right .nav-right-socials div {
  background: var(--color-white);

  margin-right: 20px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--bor-round);
  cursor: pointer;
}
.nav-right .nav-right-socials div:nth-of-type(1) i {
  color: var(--color-red);
}
.nav-right .nav-right-socials div:nth-of-type(2) i {
  color: var(--color-blue);
}

/* ===== HEADER ========= */
/* header title */
.header-title {
  text-align: center;
  margin-bottom: 20px;
}
/* header description */
.header-desc {
  text-align: center;
  margin-bottom: 20px;
}
/* header search */
.header-search {
  width: 50%;
  margin: 0 auto;
}
.header-search .header-search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--color-white);

  padding: 5px 10px;
  border-radius: var(--bor-5);
}
.header-search .header-search-wrapper:focus-within {
  outline: 2px solid var(--color-dark);
}
.header-search .header-search-wrapper div {
  margin-right: 10px;
  padding: 5px;

  border: 1px solid var(--color-dark);
  border-radius: var(--bor-5);
}
.header-search .header-search-wrapper input {
  border: none;
  background: none;
  outline: none;

  width: 100%;
  margin-right: 10px;

  font-size: 16px;
}
.header-search .header-search-wrapper i {
  cursor: pointer;
}
.header-search .header-search-wrapper i:hover {
  color: var(--color-gray);
}

/* =========== BREADCRUMB ======== */
.breadcrumb {
  margin-top: 40px;
}

.container.breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* breadcrumb left */
.breadcrumb-left {
  display: flex;
  gap: 10px;
}
.breadcrumb-left div a {
  padding: 10px;
}
.breadcrumb-left div:nth-of-type(1) {
  border-right: 2px solid var(--color-dark);
  position: relative;
}

.breadcrumb-left div:nth-of-type(1)::after {
  content: "";
  position: absolute;
  z-index: 999;
  width: 8px;
  height: 8px;
  border-radius: var(--bor-round);
  background: red;
  top: 0;
  left: 40%;
}
.breadcrumb-left div:nth-of-type(2) a:first-child {
  color: var(--color-red);
}
.breadcrumb-left div:nth-of-type(2) a:last-child {
  color: var(--color-blue);
}
/* breadcrumb right */
.breadcrumb-right i {
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

/* ======== CARDS ========== */
.cards {
  margin-top: 40px;
}

.container.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.card {
  flex: 1;
  border-radius: var(--bor-5);
  background: var(--color-white);
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card .card-top {
  width: 100%;
  margin-bottom: 10px;
}
.card .card-top img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--bor-5);
}

.card .card-center {
  margin-bottom: 10px;
  color: var(--color-gray);
}
.card .card-center span {
  font-size: 30px;
  color: var(--color-dark);
}

.card .card-bottom a {
  text-decoration: underline;
  font-weight: 700;
  margin-right: 10px;
}
.card .card-bottom a:hover {
  color: var(--color-gray);
}
/* ============FOOTER========== */
footer {
  margin-top: 40px;
  padding: 20px;
}
.container.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* footer left */
.footer-left {
  display: flex;
}
.footer-left a {
  margin-right: 10px;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 700;
}

.footer-left .footer-left-gallery img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: var(--bor-5);
  border: 1px solid var(--color-white);
}
/* footer center */
.footer-center div {
  background: var(--color-white);
  padding: 5px 10px;
  border-radius: var(--bor-5);
  cursor: pointer;

  display: flex;
  align-items: center;
}
.footer-center div i {
  margin-left: 5px;
}
/* footer right */
.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-right p,
.footer-right .footer-right-form {
  flex: 1;

  display: flex;
  align-items: center;
}
.footer-right p {
  display: flex;
  justify-content: center;
}
.footer-right .footer-right-form input {
  padding: 5px;
  width: 30%;
}
.footer-right .footer-right-form div {
  background: var(--color-gray);

  margin: 5px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--bor-5);

  cursor: pointer;
}
/* ============ RESPONSIVE ============= */
/* medium devices (tablets) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-md);
  }
  /* ======== NAVBAR ========== */
  /* nav left logo */
  .nav-left .nav-left-logo {
    margin-right: 10px;
  }
  /* nav left nav list */
  .nav-left .navigation .nav-left-lists a {
    padding: 5px;
    font-size: 14px;
  }
  /* nav right */
  .nav-right button {
    font-size: 14px;
    padding: 5px 10px;
  }
  /* ====== HEADER ======= */
  /* header search */
  .header-search {
    width: 80%;
  }
  /* ======= CARDS ======== */
  .container.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* ======= FOOTER ====== */
  footer {
    padding: 20px 0;
  }
  /* footer left */
  .footer-left {
    flex-direction: column;
    margin-right: 20px;
  }
  .footer-left a {
    margin-right: 0;
    font-size: 16px;
  }
  /* footer center */
  .footer-center div {
    font-size: 14px;
  }
  /* footer right */
  .footer-right p {
    font-size: 14px;
  }
}
/* small devices (smart phones) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-sm);
  }
  /* ==== NAVBAR ===== */
  /* nav right */
  .nav-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-right .nav-right-socials {
    margin-top: 10px;
  }
  .nav-right .nav-right-socials div {
    width: 25px;
    height: 25px;
  }
  /* ====== HEADER ======= */
  /* header search */
  .header-search {
    width: 90%;
  }

  /* ===== BREADCRUMB ====== */
  .breadcrumb-left div a {
    font-size: 14px;
    padding: 5px;
  }
  .breadcrumb-right i {
    padding: 5px;
    font-size: 14px;
  }
  /* ======= CARDS ======== */
  .container.cards-container {
    grid-template-columns: 1fr;
  }

  /*  ======== FOOTER ===== */
  .container.footer-container {
    flex-direction: column-reverse;
  }
  /* footer left */
  .footer-left,
  .footer-center {
    margin-top: 20px;
  }
  .footer-left {
    margin-right: 0;
  }
  .footer-left .footer-left-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
